<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cuti.online.karyawan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.cuti.online.karyawan.utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CutiOnline"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.cuti.online.karyawan.ui.PengajuanCutiActivity"
            android:parentActivityName="com.cuti.online.karyawan.ui.MainActivity"
            android:label="Pengajuan E-CUTI"/>
        <activity
            android:name="com.cuti.online.karyawan.ui.NotifikasiActivity"
            android:label="Notifikasi"
            android:parentActivityName="com.cuti.online.karyawan.ui.MainActivity" />
        <activity
            android:name="com.cuti.online.karyawan.ui.SyaratCutiActivity"
            android:label="Syarat Mengajukan Cuti"
            android:parentActivityName="com.cuti.online.karyawan.ui.MainActivity" />
        <activity
            android:name="com.cuti.online.karyawan.ui.RegisterActivity"
            android:theme="@style/Theme.CutiOnline.NoBar" />
        <activity
            android:name="com.cuti.online.karyawan.ui.LoginActivity"
            android:theme="@style/Theme.CutiOnline.NoBar" />
        <activity
            android:name="com.cuti.online.karyawan.ui.MainActivity"
            android:theme="@style/Theme.CutiOnline.NoBar" />
        <activity
            android:name="com.cuti.online.karyawan.ui.SplashActivity"
            android:theme="@style/Theme.CutiOnline.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>